bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.6
invoke==2.2.1
markdown-it-py==4.0.0
mdurl==0.1.2
netmiko==4.6.0
nornir==3.5.0
nornir-netmiko==1.0.1
ntc_templates==9.1.0
paramiko==4.0.0
pycparser==3.0
Pygments==2.20.0
PyNaCl==1.6.2
pyserial==3.5
PyYAML==6.0.3
rich==14.3.3
ruamel.yaml==0.19.1
scp==0.15.0
setuptools==82.0.1
textfsm==2.1.0